.btn-01 {
  background-color: #ff9800;
  color: #ffffff;
  border: 2px solid transparent;
  padding: 10px 25px;
  border-radius: 30px;
  line-height: 1.5;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
}

.btn-01:hover {
  background-color: transparent;
  border-color: #ff9800;
  color: #ff9800;
}

.btn-01:focus {
  outline: none;
}
