.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}
.header .brand-name {
  padding: 0 15px;
}

.header .brand-name a {
  text-decoration: none;
  font-size: 30px;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 2px;
  transition: all 0.5s ease;
}

.header .brand-name a:hover {
  color: #ff9800;
}

.header .nav {
  padding: 0 15px;
}

.header .nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header .nav ul li {
  display: inline-block;
  margin: 20px;
  color: #ffffff;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}

.header .nav ul li:hover {
  color: #ff9800;
}
.header .nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 25px 0;
  justify-content: center;
}
